# Default ignored files
/../../../:Ai_zhiyi/.idea/shelf/
/../../../:Ai_zhiyi/.idea/workspace.xml
# Datasource local storage ignored files
/../../../:Ai_zhiyi/.idea/dataSources/
/../../../:Ai_zhiyi/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../:Ai_zhiyi/.idea/httpRequests/
